*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

body {
    background-color: #181419; 
    color: white;
}
.header {
    background-color: #9f3647;
    color: #ffffff;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 10;


    .navegacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;

        .anclaLogo {
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
        }

        .listaNav {
            list-style: none;
            display: flex;
            align-items: center;

            .listaItem {
                margin-right: 20px;


                .linkNav {
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;

                   
                    transition: transform 0.3s, box-shadow 0.3s;
                     &:hover{
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                    }

                }
                .linkNav.Turnos{
                    background-color:#181419; 
                    color: white;
                    border-radius: 5px;

                    transition: transform 0.3s, box-shadow 0.3s;

                    &:hover{
                        background-color: #9f3647;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    }
                }

            }
        }
    }
}


 @media (max-width:768px){
    .header{
        height: initial;
        .navegacion {
            margin-left: 10px;
            margin-right: 10p;
            flex-direction: column;
            row-gap: 20px;

            .anclaLogo{
                font-weight: 700;
                font-size: 1.2rem;    
           
            }

            .listaNav {
                padding: initial;
                    

                .listaItem {
                    .linkNav {
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;
                    


                    }
                }
            }
        }
    }  
} 

.AlquimiaBellezaCapilar{
    text-align: center;  
}

.Galeria {
  display:flex; 
  justify-content: space-around;
  align-items: center;

}
.galeria.imagen {
    display: flex;
}
  
.galeria.parrafo {  
    display: flex; /* Asegura que el párrafo se muestre en una línea separada */

  }
.Servicios{
    display:flex; 
    justify-content: space-around;
    align-items: center;
  

}  
.ServiciosBrindados{
    text-align: center;

}  

.ServiciosImagenes {
    display: flex; 
    justify-content: space-around;
    align-items: center;
  

   
}
  
footer{
    background:white;
   

}
.bodyContacto{
    height: 100vh;
    background:linear-gradient(to right top, #24242473,#24242473),url("bg-register.jpg");
    background-size: cover;
    background-position: center;
    .headerContacto{
        color:#ffffff;
        height: 8vh;
        padding:30px;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
             /*animacion hover*/
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
    }
    .main{
         /*seccion de registrarse.html*/
        .seccionContacto{
            background-color:rgb(42, 42, 42);
            width: 40%;
            margin:0 auto;
            border-radius: 50px;
            padding: 40px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size:1.2rem;
            .tituloContacto{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
            /*seleccionar todos los input menos el checkbox*/
            form{
                width:100%;
                padding:40px;
                input:not(.check,.boton),select{
                    width: 100%;
                    margin-bottom: 20px;
                    height: 40px;
                    padding: 0px 20px;
                    font-size: 1.2rem;
                    border-radius: 20px;
                    border: 2px solid #9f3647;
                    background-color: #333333;
                    outline: none;
                    color:rgb(255, 255, 255);
                }
                .error input:not(.check,.boton),.error select{
                    border: 5px solid #ff0000;
                }
                .error-text{
                    color: #ff0000;
                    font-size: 0.8rem;
                    margin-top:0px;
                    margin-bottom: 10px;
                }
              
                .terminos{
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .textoCheck{
                        margin-left: 10px;
                    }
                }
                .boton{
                    width: 87%;
                    box-sizing: content-box;
                    background-color:#9f3647;
                    border: 2px solid #9f3647;
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 5px;
                    font-size: 1.5rem;
                    font-weight: 500;
                   
                }
               
            }
           
        }
   
    }
}



/*media querys para mobile PAGINA registrarse*/
@media (max-width: 1200px) {
    .bodyContacto{
        .headerContacto{
            padding:20px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionContacto{
                width: 95%;
                padding: 10px 10px;
                .tituloContacto{
                    font-size: 2rem;
                }
               form{
                width: 100%;
                text-align: center;
               
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }
                .terminos{
                    width: 80%;
                    margin:0 auto;
                    font-size: 0.7rem;
                }
                .boton{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 0.8rem;
                }
            
               }
               
            }
        }
    }

}



