* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #181419; 
    color: white;
}

.encabezado {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: black;
    height: 4rem;
    width: 100%;
}

/* .logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 200px;
    margin-right: 60px;
}

.logo h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
} */

/* nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
} */

/* nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
} */

#logo {
    width: 5vw;
    height: 100%;
    
}

.listaNav {
    list-style: none;
    display: flex;
    padding: 10px 20px;
}

.listaNav a {
    font-family: "Advent Pro", sans-serif; 
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 2rem;
}

nav ul li a:hover {
    color: #ff00ff;
}


 /* --- Diseño Responsive "ENCABEZADO" --- */

@media(max-width: 900px) {
    #logo {
        flex-wrap: wrap;
        width: 100px;
    }
}

/* ----- PORTADA ----- */

.portada {
    position: relative;
    text-align: center;
}

.img-portada {
    width: 100%;
    height: 27rem;
}

.texto-portada {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Allura", cursive;
    font-size: 5rem;
}

/* --- Diseño Responsive "PORTADA" --- */

@media(max-width: 900px) {
    .portada {
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
    .texto-portada {
        font-size: 50px;
    }
}

/* ----- CONTENIDO 1 ----- */

.contenedor {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.contenedor-galeria .titulo-galeria {
    font-size: 1.5rem;
    text-align: center;
}

.contenedor-galeria .galeria {
    width: 15rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    margin: 2.5rem;
    border: 3px solid #fff;
    border-radius: 2%;
}

.contenedor-galeria .galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-galeria .galeria .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .2s ease;
    cursor: pointer;
}

.galeria:hover .capa {
    transform: scale(1);
}

.contenedor-galeria .capa p {
    font-size: 1.5rem;
    text-align: center;
}

/* --- Diseño Responsive "CONTENIDO 1" --- */

@media(max-width: 900px) {
    .contenedor {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
    }
}

/* ----- CONTENIDO 2 ----- */

#Servicios {
    background-color: #e7e7e5ff;
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    margin-bottom: 5rem;
}

#Servicios h4 {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    color: #333333;
    margin-bottom: 5rem;
}

.contenedor-servicios {
    width: 100%;
    padding-bottom: 5rem;
    display: flex;
    max-width: 80vw;
    margin: auto;
}

.tipos-servicios {
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 250ms ease-out;
    cursor: default;
}

.tipos-servicios:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.tipos-servicios img {
    width: 100%;
    height: 210px;
}

.tipos-servicios .info-servicios {
    padding: 15px;
    text-align: center;
}

.tipos-servicios .info-servicios h2 {
    margin-bottom: 1.5rem;
    color: #7a7a7a;
}

.tipos-servicios .info-servicios li {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

/* -- Botón -- */

/* .tipos-servicios .info-servicios a{
	display: inline-block;
	padding: 10px;
	margin-top: 1.5rem;
	text-decoration: none;
    font-size: 1.2rem;
	color: #ef759cff;
	border: 1px solid #ef759cff;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.tipos-servicios .info-servicios a:hover{
	background: #ef759cff;
	color: #fff;
}   */


/* --- Diseño Responsive "CONTENIDO 2" --- */

@media(min-width: 600px) and (max-width: 1000px) {
    .contenedor-servicios {
        flex-wrap: wrap;
    }
    .tipos-servicios {
        margin: 20px;
    }
}

/* ----- PIE DE PÁGINA ----- */

footer {
    background: white;
}

.map-container {
    width: 100%;
}

.map-container iframe {
    width: 100%;
    height: 450px; 
    border: 0;
}

/* ----- FORMULARIO ----- */

.bodyContacto {
    height: 100vh;
    background: linear-gradient(to right top, #24242473, #24242473), url("bg-register.jpg");
    background-size: cover;
    background-position: center;
}

.headerContacto {
    color: #ffffff;
    height: 8vh;
    padding: 30px;
}

.anclaLogo {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.main .seccionContacto {
    background-color: rgb(42, 42, 42);
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    font-size: 1.2rem;
}

.tituloContacto {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

form {
    width: 100%;
    padding: 40px;
}

form input:not(.check, .boton), form select {
    width: 100%;
    margin-bottom: 20px;
    height: 60px;
    padding: 0px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid #ff00ff;
    outline: none;
    color: rgb(0, 0, 0);
}

.error input:not(.check, .boton), .error select {
    border: 5px solid #ff0000;
}

.error-text {
    color: #ff0000;
    font-size: 0.8rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.terminos {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.textoCheck {
    margin-left: 10px;
}

.boton {
    width: 87%;
   
    box-sizing: content-box;
    background-color: #ff00ff;
    border: 2px solid #ff00ff;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .bodyContacto .headerContacto {
        padding: 20px;
    }

    .anclaLogo {
        font-size: 1rem;
    }

    .main .seccionContacto {
        width: 95%;
        padding: 10px 10px;
    }

    .tituloContacto {
        font-size: 2rem;
    }

    form {
        width: 100%;
        text-align: center;
    }

    form input:not(.check, .boton), form select {
        width: 80%;
        height: 35px;
        font-size: 1rem;
    }

    .terminos {
        width: 80%;
        margin: 0 auto;
        font-size: 0.7rem;
    }

    .boton {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
        padding: 0.8rem 0.8rem;
        font-size: 0.8rem;
    }
}
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25D366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-float img {
    margin-top:10%;
}

.whatsapp-float:hover {
    background-color: #128C7E;

}

form{
	width:50%;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#363636;

}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:40%px;
	padding:3px 10px;
	border:2px solid #ff00ff;
	border-radius:10px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:2px solid #ff00ff;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#ff00ff;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:2px solid #ff00ff;
	border-radius:10px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

