*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

body {
    background-color: #181419; 
    color: white;
}
.header {
    background-color: #9f3647;
    color: #ffffff;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 10;


    .navegacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;

        .anclaLogo {
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
        }

        .listaNav {
            list-style: none;
            display: flex;
            align-items: center;

            .listaItem {
                margin-right: 20px;


                .linkNav {
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;

                   
                    transition: transform 0.3s, box-shadow 0.3s;
                     &:hover{
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                    }

                }
                .linkNav.Turnos{
                    background-color:#181419; 
                    color: white;
                    border-radius: 5px;

                    transition: transform 0.3s, box-shadow 0.3s;

                    &:hover{
                        background-color: #9f3647;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    }
                }

            }
        }
    }
}


 @media (max-width:768px){
    .header{
        height: initial;
        .navegacion {
            margin-left: 10px;
            margin-right: 10p;
            flex-direction: column;
            row-gap: 20px;

            .anclaLogo{
                font-weight: 700;
                font-size: 1.2rem;    
           
            }

            .listaNav {
                padding: initial;
                    

                .listaItem {
                    .linkNav {
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;
                    


                    }
                }
            }
        }
    }  
} 

.AlquimiaBellezaCapilar{
    text-align: center;  
}

.Galeria {
  display:flex; 
  justify-content: space-around;
  align-items: center;

}
.galeria.imagen {
    display: flex;
}
  
.galeria.parrafo {  
    display: flex; /* Asegura que el párrafo se muestre en una línea separada */

  }
.Servicios{
    display:flex; 
    justify-content: space-around;
    align-items: center;
  

}  
.ServiciosBrindados{
    text-align: center;

}  

.ServiciosImagenes {
    display: flex; 
    justify-content: space-around;
    align-items: center;
  

   
}
  
footer{
    background:white;
   

}


